<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gramcaster.radinaldn.aurelia">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app_300_x_300"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app_300_x_300"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/order"/>
        <activity
            android:name=".activity.DepositActivity"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".activity.ProfilActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>